<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
</head>
<body class="bg-zinc-900">
    <div>
      <div class="nav text-blue-500 mb-10">
        <a href="/read">Go to read page</a>
      </div>
      <h1 class="text-white">Create User</h1>
      <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <form action="/create" method="post">
      <input  class="border-2 px-5 py-5 border-zinc-800  outline-none bg-transparent rounded-lg"  type="name" name="username" placeholder="Enter your name">
      <input   class="border-2 px-5 py-5 border-zinc-800  outline-none bg-transparent rounded-lg" type="class" name="imageurl" placeholder="Enter the image url">
      <input   class="border-2 px-5 py-5 border-zinc-800  outline-none bg-transparent rounded-lg" type="email" name="email" placeholder="Enter your email">
  <input  class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit">
    </form>
   </div>
   </div>
    <script src="/javascript/script.js"></script>
</body>
</html>